<div class="material-buttons">
  <button mat-raised-button color="basic">Basic</button>
  <button mat-raised-button color="primary">Primary</button>
  <button mat-raised-button color="accent">Accent</button>
  <button mat-raised-button color="warn">Warn</button>
  <button mat-raised-button color="disabled">Disabled</button>
  <button mat-raised-button color="link">Link</button>
</div>

<div class="flex">
  <mat-card class="car-form">
    <mat-card-title>Cadastro de Usuários</mat-card-title>
    <mat-card-content>
      <form action="#" #cadastrarUsuarioForm="ngForm" (ngSubmit)="enviarForm()">

        <mat-form-field appearance="outline">
          <mat-label>Nome</mat-label>
          <input type="text" name="nome" placeholder="Informe Seu Nome" matInput required minlength="4" maxlength="30" [(ngModel)]="dadosUsuario.nome" #inputNome="ngModel">
          <mat-icon matSuffix>person_add</mat-icon>
            <mat-error>
              <span *ngIf="inputNome.errors?.['required']">Campo Obrigatório</span>
              <span *ngIf="inputNome.errors?.['minlength']">Nome Deve Ter No Mínimo 4 Caracteres</span>
            </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Sobrenome</mat-label>
          <input type="text" name="sobreNome" placeholder="Informe Seu Sobrenome" matInput required [(ngModel)]="dadosUsuario.sobrenome" #inputSobrenome="ngModel">
          <mat-icon matSuffix>person_add</mat-icon>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>E-mail</mat-label>
          <input type="email" name="email" placeholder="Informe Seu E-mail" matInput required email [(ngModel)]="dadosUsuario.email" #inputEmail="ngModel">
          <mat-icon matSuffix>alternate_email</mat-icon>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Senha</mat-label>
          <input type="password" name="senha" placeholder="Crie Sua Senha de Acesso" matInput required [(ngModel)]="dadosUsuario.senha" #inputSenha="ngModel">
          <mat-icon matSuffix>key</mat-icon>
        </mat-form-field>
        
        <button type="submit" [disabled]="cadastrarUsuarioForm.invalid" mat-raised-button color="primary">Cadastrar</button>

      </form>
    </mat-card-content>
  </mat-card>
</div>

<app-reactive></app-reactive>



<mat-card class="card">
  <img src="https://www.vagalume.com.br/u2/discografia/all-that-you-cant-leave-behind.webp" alt="U2 Picture" mat-card-image>
  <mat-card-title>All That You Can't Leave Behind</mat-card-title>
  <mat-card-subtitle>2000</mat-card-subtitle>
  <mat-card-content><ol>
    <li>Beautiful Day</li>
    <li>Stuck in a Moment You Can't Get Out Of</li>
    <li>Elevation</li>
  </ol></mat-card-content>
</mat-card>
